
.header {
	overflow: auto;
}
.header img {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 0 15px 15px;

}

.header h1 {
	font-size: 40px;
	align-items: center;
	text-align: center;

}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: arial;
	background-color: #333;
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	padding: 8px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.nav li a:hover {
	background-color: #e3a000;
}

body {
	font-family: monospace;
}

body::after {
  content: "";
  background: url("../img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
