
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: arial;
	background-color: #333;
	link
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	padding: 8px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.nav li a:hover {
	background-color: #111;
}

body {
	font-family: monospace;
}
h1 {
	font-family: arial;
}